:root {
  --bg: #eff5ff;
  --bg-white: #fff;
  --bg-sidebar: #483eff;
  --sky-blue: #bee2fd;
  --light-blue: #abbcff;
  --denim: #022959;
  --border-color: #d6d9e6;
  --grey: #9699aa;
  --purple: #483eff;
  --very-light-grey: #f8f9ff;
  --red-errors: #ee374a;
  --very-light-grey: #f8f9ff;
  --orange: #ffaf7e;
  --second-ball: #6259ff;
}
